@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  font-family: "Ubuntu Mono", monospace;
}

header {
  color: #382bf0;
  height: 5vh;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

main {
  height: 100vh;
}

footer {
  padding-bottom: 2rem;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.button {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #000;
  outline: none;
  background-color: #282828;
}

.button:hover {
  background-color: #161616;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #908d96;
  font-family: "VT323", monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.current-operand {
  font-size: 2.5rem;
}
